@use '../../App.scss';

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 56px;
  padding: 0 16px;
  box-sizing: border-box;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .center {
      display: flex;
      align-items: center;
      justify-content: center;

      .search {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: end;
      }

      .search-form {
        display: flex;
        width: 36vw;
        height: 40px;
        border: 1px solid #d1d1d1;
        border-right: 0;
        border-radius: 20px 0 0 20px;

        label {
          text-indent: -9999px;

          &:before {
            content: '검색바';
          }
        }
      }

      // 검색 입력 바
      .search-bar {
        width: 90%;
        outline: none;
        padding: 10px;
        border: none;
        font-size: 1.1em;
      }

      // 검색 버튼
      .btn--search {
        width: 60px;
        height: 40px;
        background-color: #f8f8f8;
        border: 1px solid #d8d8d8;
        border-radius: 0 20px 20px 0;
        font-size: 1.1rem;
        text-align: center;
        line-height: middle;

        &:hover {
          background-color: #efefef;
          box-shadow: 0 0 1px 0 rgba(125, 125, 125, 0.5);
        }
      }

      .voice-search {
        display: flex;
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 50%;
        font-size: 1.4rem;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin-left: 8px;

        &:hover {
          background-color: #f1f1f1;
        }
      }

    }

    .end {
      display: flex;

      .settings {
        position: relative;

        .btn--setting {
          width: 40px;
          height: 40px;
          font-size: 1.6rem;
          text-align: center;
        }




      }
    }
  }
}