.sub-menu {
  position: absolute;
  right: 0;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(125, 125, 125, .3);

  .title {
    display: flex;
    align-items: center;
    font-size: 16px;
    border-bottom: 1px solid #d1d1d1;
    min-height: 48px;

    .icn {
      font-size: 1.8rem;
      min-width: 40px;
      height: 40px;
      line-height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 0 4px;

      &:hover {
        background-color: #f1f1f1;

      }
    }

    .text {
      flex: 1;
    }
  }

  .contents {
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    p {
      font-size: .8rem;
      color: #666;
      height: 40px;
      line-height: 40px;
      padding-left: 16px;
    }

    .content {
      align-items: center;
      display: flex;
      padding: 0 10px;
      cursor: pointer;

      &:hover {
        background-color: #f1f1f1;
      }
    }

    .icn {
      width: 40px;
      height: 40px;
      font-size: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .type {
      flex: 1;
    }
  }
}