.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 6px;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  color: #065fd4;
  cursor: pointer;

  &:hover {
    border-color: #d8e9fe;
    background-color: #d8e9fe;
  }

  .icn {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    font-size: 1.2rem;
    font-weight: lighter;
  }
}